{
  "swagger": "2.0",
  "info": {
    "title": "Vink",
    "description": "Vink reads PDFs into the Fields of your Forms. Start a flow when a Submission is approved, and send PDFs in to be read.",
    "version": "1.0",
    "contact": {
      "name": "Vink",
      "url": "https://vink.page/developers"
    }
  },
  "host": "vink.page",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "List Forms",
        "description": "Every Form of the key's Organisation, with the Fields of its current version. Automation platforms use it to show your Fields as dynamic fields.",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The Forms.",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Form"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API Key is missing, unknown or revoked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Something went wrong on our side.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/forms/{form_id}/submissions": {
      "post": {
        "operationId": "sendSubmission",
        "summary": "Send in a Submission",
        "description": "Sends a PDF or a photo to a Form in Vink, as if it was uploaded in the app. Vink reads it; it is approved later, in Vink or by Auto-Send.",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "description": "The Form's `id`, from List Forms.",
            "type": "string",
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "listForms",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name",
              "parameters": {}
            }
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "description": "The name the Submission shows in Vink, for example the attachment's name. Without it: document.pdf, or .jpg, .png or .heic for a photo.",
            "type": "string",
            "x-ms-summary": "File name"
          },
          {
            "name": "file",
            "in": "body",
            "required": true,
            "description": "The file's content (a PDF or a JPG, PNG or HEIC photo), for example from an email attachment or a OneDrive file.",
            "x-ms-summary": "File content",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Vink accepted the file or email and is reading it.",
            "schema": {
              "$ref": "#/definitions/SentSubmission"
            }
          },
          "400": {
            "description": "The request has no file in it (`missing_file`), or an email body isn't valid (`invalid_request`).",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "The API Key is missing, unknown or revoked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "Your Organisation has fewer Items left than the input needs.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Form with this id in your Organisation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "413": {
            "description": "The request body, an image or an email's text or attachments are over their limit.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "415": {
            "description": "Vink can't read the file. `unsupported_file_type`: its first bytes are not a PDF, JPG, PNG or HEIC image (or an email file sent as one). `not_a_pdf`: it is sent as a PDF and isn't a PDF Vink can read. `media_type_mismatch`: the `Content-Type` names another file type than the bytes. `unsupported_media_type`: the body is none of the content types above.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "The PDF has more than 20 pages (`too_many_pages`), an email has more than 10 attachments (`too_many_attachments`) or no text and no attachments (`empty_email`).",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Something went wrong on our side.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/subscriptions": {
      "post": {
        "operationId": "createSubscription",
        "summary": "When a Submission is approved",
        "description": "Starts the flow every time a Submission of the Form is approved in Vink. The outputs are the Form's Fields, under Data.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "form_id",
                "url"
              ],
              "properties": {
                "form_id": {
                  "type": "string",
                  "description": "The Form whose Approvals you want.",
                  "x-ms-summary": "Form",
                  "x-ms-dynamic-values": {
                    "operationId": "listForms",
                    "value-collection": "data",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {}
                  }
                },
                "url": {
                  "type": "string",
                  "description": "Receives the envelopes. https only.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The Subscription.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Subscription's URL: a `DELETE` on it unsubscribes (Power Automate does that itself)."
              }
            }
          },
          "400": {
            "description": "The body isn't JSON with `form_id` and `url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "The API Key is missing, unknown or revoked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Form with that id in your Organisation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "The Organisation already has 50 Subscriptions.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "`url` isn't an https URL.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Something went wrong on our side.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, approve a Submission of this Form in Vink."
      },
      "x-ms-notification-content": {
        "description": "The envelope of the approved Submission.",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "getFormSchema",
            "parameters": {
              "form_id": {
                "parameter": "form_id"
              }
            },
            "value-path": "schema"
          },
          "x-ms-dynamic-properties": {
            "operationId": "getFormSchema",
            "parameters": {
              "form_id": {
                "parameterReference": "body/form_id"
              }
            },
            "itemValuePath": "schema"
          }
        }
      }
    },
    "/subscriptions/{id}": {
      "delete": {
        "operationId": "deleteSubscription",
        "summary": "Unsubscribe",
        "description": "Ends the Subscription and removes its Webhook. Any API Key of the Organisation can end it. Approvals that are still being sent to it are given up. Idempotent: a Subscription that has ended already (an Admin deleted its Webhook, or its `url` answered `410`), or an id Vink doesn't know, gets the same answer and nothing changes.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Subscription's id.",
            "type": "string",
            "x-ms-summary": "Subscription ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The Subscription ended, or had ended already.",
            "schema": {
              "$ref": "#/definitions/DeletedSubscription"
            }
          },
          "401": {
            "description": "The API Key is missing, unknown or revoked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Something went wrong on our side.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/forms/{form_id}/schema": {
      "get": {
        "operationId": "getFormSchema",
        "summary": "Envelope schema",
        "description": "The JSON Schema of the envelope a Subscription receives for this Form, with one property per Field of its current version under `data`. Power Automate uses it to show your Fields as dynamic content.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "description": "The Form's id, from List Forms.",
            "type": "string",
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "listForms",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name",
              "parameters": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The schema.",
            "schema": {
              "$ref": "#/definitions/EnvelopeSchema"
            }
          },
          "401": {
            "description": "The API Key is missing, unknown or revoked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Form with that id in your Organisation.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Something went wrong on our side.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "DeletedSubscription": {
      "type": "object",
      "required": [
        "id",
        "deleted"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Always `true`."
        }
      }
    },
    "EnvelopeSchema": {
      "type": "object",
      "required": [
        "schema"
      ],
      "properties": {
        "schema": {
          "type": "object",
          "description": "A JSON Schema of the envelope, in Swagger 2.0 style: one `type` per property, `x-nullable: true` where the value can be `null`, and each Field's label as `title` and `x-ms-summary`."
        }
      }
    },
    "Error": {
      "type": "object",
      "required": [
        "error"
      ],
      "properties": {
        "error": {
          "type": "object",
          "required": [
            "code",
            "message"
          ],
          "properties": {
            "code": {
              "type": "string",
              "description": "Stable, snake_case. Branch on this.",
              "example": "invalid_api_key"
            },
            "message": {
              "type": "string",
              "description": "A sentence for people. It may change.",
              "example": "This API Key doesn't exist or was revoked."
            }
          }
        }
      }
    },
    "Field": {
      "type": "object",
      "required": [
        "key",
        "label",
        "type",
        "required"
      ],
      "properties": {
        "key": {
          "type": "string",
          "description": "The Field's name in the Payload, snake_case.",
          "example": "invoice_number"
        },
        "label": {
          "type": "string",
          "description": "What users see in Vink.",
          "example": "Factuurnummer"
        },
        "type": {
          "type": "string",
          "enum": [
            "text",
            "number",
            "date",
            "boolean",
            "choice",
            "list"
          ],
          "description": "`choice` has `options`; `list` has `fields`, the sub-Fields of each entry."
        },
        "required": {
          "type": "boolean"
        },
        "options": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only on `choice`: the values the Payload can hold."
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubField"
          },
          "description": "Only on `list`: the sub-Fields of each entry."
        }
      }
    },
    "Form": {
      "type": "object",
      "required": [
        "id",
        "name",
        "description",
        "version",
        "fields"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Use it in the Form's other endpoints."
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string",
          "x-nullable": true
        },
        "version": {
          "type": "integer",
          "description": "Goes up by one every time the Form is saved."
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Field"
          }
        }
      }
    },
    "SentSubmission": {
      "type": "object",
      "required": [
        "id",
        "state"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The Submission's id."
        },
        "state": {
          "type": "string",
          "enum": [
            "processing"
          ],
          "description": "Always `processing` here: Vink is reading the file or email."
        }
      }
    },
    "SubField": {
      "type": "object",
      "required": [
        "key",
        "label",
        "type",
        "required"
      ],
      "properties": {
        "key": {
          "type": "string",
          "description": "The Field's name in the Payload, snake_case.",
          "example": "invoice_number"
        },
        "label": {
          "type": "string",
          "description": "What users see in Vink.",
          "example": "Factuurnummer"
        },
        "type": {
          "type": "string",
          "enum": [
            "text",
            "number",
            "date",
            "boolean",
            "choice"
          ],
          "description": "`choice` has `options`."
        },
        "required": {
          "type": "boolean"
        },
        "options": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only on `choice`: the values the Payload can hold."
        }
      }
    },
    "Subscription": {
      "type": "object",
      "required": [
        "id",
        "form_id",
        "url",
        "created_at"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Use it to unsubscribe."
        },
        "form_id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://vink.page"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://vink.page/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Business Management"
    }
  ]
}
